{
	"root": true,
	"plugins": [
		"@typescript-eslint"
	],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"rules": {
		"@typescript-eslint/no-explicit-any":  0,
		"indent": ["warn", "tab"],
		"no-mixed-spaces-and-tabs": 0
	}
}